In [ ]:
import pandas as pd

In [ ]:
a=[1,3,5,7,9,2,4,6,8]
a1=pd.Series(a)
a1

0    1
1    3
2    5
3    7
4    9
5    2
6    4
7    6
8    8
dtype: int64

In [ ]:
a1=[1,3,5,7,9,2,4,6,8]
a2=['a','b','c','d','e','f','g','h','i']
a3=pd.Series(a1,a2)
print(a3)
a3['b']

a    1
b    3
c    5
d    7
e    9
f    2
g    4
h    6
i    8
dtype: int64

3

In [ ]:
Array1=[[1,3,5],[2,4,6]]
Array2=pd.Series(Array1)
Array2

0    [1, 3, 5]
1    [2, 4, 6]
dtype: object

In [ ]:
dict1={'Orang':3,'Apples':4,'Mangoes':2,'Banana':12}
dict2=pd.Series(dict1)
dict2

Orang       3
Apples      4
Mangoes     2
Banana     12
dtype: int64

In [ ]:
type(dict2)

pandas.core.series.Series

In [ ]:
data ={'age':[23,33,12,45],'name':['rahul','john','robert','sneha']}
data1=pd.DataFrame(data)
data1

   age    name
0   23   rahul
1   33    john
2   12  robert
3   45   sneha

In [ ]:
data2=[[4,1900],[3,1600],[2,1100],[1,850]]
data3=pd.DataFrame(data2,columns=['No_of_bedrooms','Square_feet'])
data3

   No_of_bedrooms  Square_feet
0               4         1900
1               3         1600
2               2         1100
3               1          850

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving League_of_Legends.csv to League_of_Legends (1).csv

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving League_of_Legends.csv to League_of_Legends.csv

In [ ]:
LOL=pd.read_csv('League_of_Legends.csv')
LOL

          gameId  blueWins  ...  redCSPerMin  redGoldPerMin
0     4519157822         0  ...         19.7         1656.7
1     4523371949         0  ...         24.0         1762.0
2     4521474530         0  ...         20.3         1728.5
3     4524384067         0  ...         23.5         1647.8
4     4436033771         0  ...         22.5         1740.4
...          ...       ...  ...          ...            ...
9874  4527873286         1  ...         22.9         1524.6
9875  4527797466         1  ...         20.6         1545.6
9876  4527713716         0  ...         26.1         1831.9
9877  4527628313         0  ...         24.7         1529.8
9878  4523772935         1  ...         20.1         1533.9

[9879 rows x 40 columns]

In [ ]:
LOL.shape

(9879, 40)

In [ ]:
LOL.mean()

gameId                          4.500084e+09
blueWins                        4.990384e-01
blueWardsPlaced                 2.228829e+01
blueWardsDestroyed              2.824881e+00
blueFirstBlood                  5.048082e-01
blueKills                       6.183925e+00
blueDeaths                      6.137666e+00
blueAssists                     6.645106e+00
blueEliteMonsters               5.499544e-01
blueDragons                     3.619800e-01
blueHeralds                     1.879745e-01
blueTowersDestroyed             5.142221e-02
blueTotalGold                   1.650346e+04
blueAvgLevel                    6.916004e+00
blueTotalExperience             1.792811e+04
blueTotalMinionsKilled          2.166996e+02
blueTotalJungleMinionsKilled    5.050967e+01
blueGoldDiff                    1.441411e+01
blueExperienceDiff             -3.362031e+01
blueCSPerMin                    2.166996e+01
blueGoldPerMin                  1.650346e+03
redWardsPlaced                  2.236795e+01
redWardsDestroyed               2.723150e+00
redFirstBlood                   4.951918e-01
redKills                        6.137666e+00
redDeaths                       6.183925e+00
redAssists                      6.662112e+00
redEliteMonsters                5.731349e-01
redDragons                      4.130985e-01
redHeralds                      1.600364e-01
redTowersDestroyed              4.302055e-02
redTotalGold                    1.648904e+04
redAvgLevel                     6.925316e+00
redTotalExperience              1.796173e+04
redTotalMinionsKilled           2.173492e+02
redTotalJungleMinionsKilled     5.131309e+01
redGoldDiff                    -1.441411e+01
redExperienceDiff               3.362031e+01
redCSPerMin                     2.173492e+01
redGoldPerMin                   1.648904e+03
dtype: float64

In [ ]:
LOL.median()

gameId                          4.510920e+09
blueWins                        0.000000e+00
blueWardsPlaced                 1.600000e+01
blueWardsDestroyed              3.000000e+00
blueFirstBlood                  1.000000e+00
blueKills                       6.000000e+00
blueDeaths                      6.000000e+00
blueAssists                     6.000000e+00
blueEliteMonsters               0.000000e+00
blueDragons                     0.000000e+00
blueHeralds                     0.000000e+00
blueTowersDestroyed             0.000000e+00
blueTotalGold                   1.639800e+04
blueAvgLevel                    7.000000e+00
blueTotalExperience             1.795100e+04
blueTotalMinionsKilled          2.180000e+02
blueTotalJungleMinionsKilled    5.000000e+01
blueGoldDiff                    1.400000e+01
blueExperienceDiff             -2.800000e+01
blueCSPerMin                    2.180000e+01
blueGoldPerMin                  1.639800e+03
redWardsPlaced                  1.600000e+01
redWardsDestroyed               2.000000e+00
redFirstBlood                   0.000000e+00
redKills                        6.000000e+00
redDeaths                       6.000000e+00
redAssists                      6.000000e+00
redEliteMonsters                0.000000e+00
redDragons                      0.000000e+00
redHeralds                      0.000000e+00
redTowersDestroyed              0.000000e+00
redTotalGold                    1.637800e+04
redAvgLevel                     7.000000e+00
redTotalExperience              1.797400e+04
redTotalMinionsKilled           2.180000e+02
redTotalJungleMinionsKilled     5.100000e+01
redGoldDiff                    -1.400000e+01
redExperienceDiff               2.800000e+01
redCSPerMin                     2.180000e+01
redGoldPerMin                   1.637800e+03
dtype: float64

In [ ]:
LOL.std()

gameId                          2.757328e+07
blueWins                        5.000244e-01
blueWardsPlaced                 1.801918e+01
blueWardsDestroyed              2.174998e+00
blueFirstBlood                  5.000022e-01
blueKills                       3.011028e+00
blueDeaths                      2.933818e+00
blueAssists                     4.064520e+00
blueEliteMonsters               6.255265e-01
blueDragons                     4.805974e-01
blueHeralds                     3.907116e-01
blueTowersDestroyed             2.443692e-01
blueTotalGold                   1.535447e+03
blueAvgLevel                    3.051458e-01
blueTotalExperience             1.200524e+03
blueTotalMinionsKilled          2.185844e+01
blueTotalJungleMinionsKilled    9.898282e+00
blueGoldDiff                    2.453349e+03
blueExperienceDiff              1.920370e+03
blueCSPerMin                    2.185844e+00
blueGoldPerMin                  1.535447e+02
redWardsPlaced                  1.845743e+01
redWardsDestroyed               2.138356e+00
redFirstBlood                   5.000022e-01
redKills                        2.933818e+00
redDeaths                       3.011028e+00
redAssists                      4.060612e+00
redEliteMonsters                6.264816e-01
redDragons                      4.924151e-01
redHeralds                      3.666584e-01
redTowersDestroyed              2.168999e-01
redTotalGold                    1.490888e+03
redAvgLevel                     3.053114e-01
redTotalExperience              1.198584e+03
redTotalMinionsKilled           2.191167e+01
redTotalJungleMinionsKilled     1.002788e+01
redGoldDiff                     2.453349e+03
redExperienceDiff               1.920370e+03
redCSPerMin                     2.191167e+00
redGoldPerMin                   1.490888e+02
dtype: float64

In [ ]:
LOL.info(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9879 entries, 0 to 9878
Data columns (total 40 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   gameId                        9879 non-null   int64
 1   blueWins                      9879 non-null   int64
 2   blueWardsPlaced               9879 non-null   int64
 3   blueWardsDestroyed            9879 non-null   int64
 4   blueFirstBlood                9879 non-null   int64
 5   blueKills                     9879 non-null   int64
 6   blueDeaths                    9879 non-null   int64
 7   blueAssists                   9879 non-null   int64
 8   blueEliteMonsters             9879 non-null   int64
 9   blueDragons                   9879 non-null   int64
 10  blueHeralds                   9879 non-null   int64
 11  blueTowersDestroyed           9879 non-null   int64
 12  blueTotalGold                 9879 non-null   int64
 13  blueAvgLevel                  9879 non-null   float64
 14  blueTotalExperience           9879 non-null   int64
 15  blueTotalMinionsKilled        9879 non-null   int64
 16  blueTotalJungleMinionsKilled  9879 non-null   int64
 17  blueGoldDiff                  9879 non-null   int64
 18  blueExperienceDiff            9879 non-null   int64
 19  blueCSPerMin                  9879 non-null   float64
 20  blueGoldPerMin                9879 non-null   float64
 21  redWardsPlaced                9879 non-null   int64
 22  redWardsDestroyed             9879 non-null   int64
 23  redFirstBlood                 9879 non-null   int64
 24  redKills                      9879 non-null   int64
 25  redDeaths                     9879 non-null   int64
 26  redAssists                    9879 non-null   int64
 27  redEliteMonsters              9879 non-null   int64
 28  redDragons                    9879 non-null   int64
 29  redHeralds                    9879 non-null   int64
 30  redTowersDestroyed            9879 non-null   int64
 31  redTotalGold                  9879 non-null   int64
 32  redAvgLevel                   9879 non-null   float64
 33  redTotalExperience            9879 non-null   int64
 34  redTotalMinionsKilled         9879 non-null   int64
 35  redTotalJungleMinionsKilled   9879 non-null   int64
 36  redGoldDiff                   9879 non-null   int64
 37  redExperienceDiff             9879 non-null   int64
 38  redCSPerMin                   9879 non-null   float64
 39  redGoldPerMin                 9879 non-null   float64
dtypes: float64(6), int64(34)
memory usage: 3.0 MB

In [ ]:
LOL.describe()

             gameId     blueWins  ...  redCSPerMin  redGoldPerMin
count  9.879000e+03  9879.000000  ...  9879.000000    9879.000000
mean   4.500084e+09     0.499038  ...    21.734923    1648.904140
std    2.757328e+07     0.500024  ...     2.191167     149.088841
min    4.295358e+09     0.000000  ...    10.700000    1121.200000
25%    4.483301e+09     0.000000  ...    20.300000    1542.750000
50%    4.510920e+09     0.000000  ...    21.800000    1637.800000
75%    4.521733e+09     1.000000  ...    23.300000    1741.850000
max    4.527991e+09     1.000000  ...    28.900000    2273.200000

[8 rows x 40 columns]

In [ ]:
LOL.head()

       gameId  blueWins  ...  redCSPerMin  redGoldPerMin
0  4519157822         0  ...         19.7         1656.7
1  4523371949         0  ...         24.0         1762.0
2  4521474530         0  ...         20.3         1728.5
3  4524384067         0  ...         23.5         1647.8
4  4436033771         0  ...         22.5         1740.4

[5 rows x 40 columns]

In [ ]:
LOL.tail()

          gameId  blueWins  ...  redCSPerMin  redGoldPerMin
9874  4527873286         1  ...         22.9         1524.6
9875  4527797466         1  ...         20.6         1545.6
9876  4527713716         0  ...         26.1         1831.9
9877  4527628313         0  ...         24.7         1529.8
9878  4523772935         1  ...         20.1         1533.9

[5 rows x 40 columns]

In [ ]:
LOL.columns

Index(['gameId', 'blueWins', 'blueWardsPlaced', 'blueWardsDestroyed',
       'blueFirstBlood', 'blueKills', 'blueDeaths', 'blueAssists',
       'blueEliteMonsters', 'blueDragons', 'blueHeralds',
       'blueTowersDestroyed', 'blueTotalGold', 'blueAvgLevel',
       'blueTotalExperience', 'blueTotalMinionsKilled',
       'blueTotalJungleMinionsKilled', 'blueGoldDiff', 'blueExperienceDiff',
       'blueCSPerMin', 'blueGoldPerMin', 'redWardsPlaced', 'redWardsDestroyed',
       'redFirstBlood', 'redKills', 'redDeaths', 'redAssists',
       'redEliteMonsters', 'redDragons', 'redHeralds', 'redTowersDestroyed',
       'redTotalGold', 'redAvgLevel', 'redTotalExperience',
       'redTotalMinionsKilled', 'redTotalJungleMinionsKilled', 'redGoldDiff',
       'redExperienceDiff', 'redCSPerMin', 'redGoldPerMin'],
      dtype='object')

In [ ]:
LOL.max()

gameId                          4.527991e+09
blueWins                        1.000000e+00
blueWardsPlaced                 2.500000e+02
blueWardsDestroyed              2.700000e+01
blueFirstBlood                  1.000000e+00
blueKills                       2.200000e+01
blueDeaths                      2.200000e+01
blueAssists                     2.900000e+01
blueEliteMonsters               2.000000e+00
blueDragons                     1.000000e+00
blueHeralds                     1.000000e+00
blueTowersDestroyed             4.000000e+00
blueTotalGold                   2.370100e+04
blueAvgLevel                    8.000000e+00
blueTotalExperience             2.222400e+04
blueTotalMinionsKilled          2.830000e+02
blueTotalJungleMinionsKilled    9.200000e+01
blueGoldDiff                    1.146700e+04
blueExperienceDiff              8.348000e+03
blueCSPerMin                    2.830000e+01
blueGoldPerMin                  2.370100e+03
redWardsPlaced                  2.760000e+02
redWardsDestroyed               2.400000e+01
redFirstBlood                   1.000000e+00
redKills                        2.200000e+01
redDeaths                       2.200000e+01
redAssists                      2.800000e+01
redEliteMonsters                2.000000e+00
redDragons                      1.000000e+00
redHeralds                      1.000000e+00
redTowersDestroyed              2.000000e+00
redTotalGold                    2.273200e+04
redAvgLevel                     8.200000e+00
redTotalExperience              2.226900e+04
redTotalMinionsKilled           2.890000e+02
redTotalJungleMinionsKilled     9.200000e+01
redGoldDiff                     1.083000e+04
redExperienceDiff               9.333000e+03
redCSPerMin                     2.890000e+01
redGoldPerMin                   2.273200e+03
dtype: float64

In [ ]:
LOL.min()

gameId                          4.295358e+09
blueWins                        0.000000e+00
blueWardsPlaced                 5.000000e+00
blueWardsDestroyed              0.000000e+00
blueFirstBlood                  0.000000e+00
blueKills                       0.000000e+00
blueDeaths                      0.000000e+00
blueAssists                     0.000000e+00
blueEliteMonsters               0.000000e+00
blueDragons                     0.000000e+00
blueHeralds                     0.000000e+00
blueTowersDestroyed             0.000000e+00
blueTotalGold                   1.073000e+04
blueAvgLevel                    4.600000e+00
blueTotalExperience             1.009800e+04
blueTotalMinionsKilled          9.000000e+01
blueTotalJungleMinionsKilled    0.000000e+00
blueGoldDiff                   -1.083000e+04
blueExperienceDiff             -9.333000e+03
blueCSPerMin                    9.000000e+00
blueGoldPerMin                  1.073000e+03
redWardsPlaced                  6.000000e+00
redWardsDestroyed               0.000000e+00
redFirstBlood                   0.000000e+00
redKills                        0.000000e+00
redDeaths                       0.000000e+00
redAssists                      0.000000e+00
redEliteMonsters                0.000000e+00
redDragons                      0.000000e+00
redHeralds                      0.000000e+00
redTowersDestroyed              0.000000e+00
redTotalGold                    1.121200e+04
redAvgLevel                     4.800000e+00
redTotalExperience              1.046500e+04
redTotalMinionsKilled           1.070000e+02
redTotalJungleMinionsKilled     4.000000e+00
redGoldDiff                    -1.146700e+04
redExperienceDiff              -8.348000e+03
redCSPerMin                     1.070000e+01
redGoldPerMin                   1.121200e+03
dtype: float64

In [ ]:
LOL.sum()

gameId                          4.445633e+13
blueWins                        4.930000e+03
blueWardsPlaced                 2.201860e+05
blueWardsDestroyed              2.790700e+04
blueFirstBlood                  4.987000e+03
blueKills                       6.109100e+04
blueDeaths                      6.063400e+04
blueAssists                     6.564700e+04
blueEliteMonsters               5.433000e+03
blueDragons                     3.576000e+03
blueHeralds                     1.857000e+03
blueTowersDestroyed             5.080000e+02
blueTotalGold                   1.630376e+08
blueAvgLevel                    6.832320e+04
blueTotalExperience             1.771118e+08
blueTotalMinionsKilled          2.140775e+06
blueTotalJungleMinionsKilled    4.989850e+05
blueGoldDiff                    1.423970e+05
blueExperienceDiff             -3.321350e+05
blueCSPerMin                    2.140775e+05
blueGoldPerMin                  1.630376e+07
redWardsPlaced                  2.209730e+05
redWardsDestroyed               2.690200e+04
redFirstBlood                   4.892000e+03
redKills                        6.063400e+04
redDeaths                       6.109100e+04
redAssists                      6.581500e+04
redEliteMonsters                5.662000e+03
redDragons                      4.081000e+03
redHeralds                      1.581000e+03
redTowersDestroyed              4.250000e+02
redTotalGold                    1.628952e+08
redAvgLevel                     6.841520e+04
redTotalExperience              1.774439e+08
redTotalMinionsKilled           2.147193e+06
redTotalJungleMinionsKilled     5.069220e+05
redGoldDiff                    -1.423970e+05
redExperienceDiff               3.321350e+05
redCSPerMin                     2.147193e+05
redGoldPerMin                   1.628952e+07
dtype: float64

In [ ]:
LOL.mode()

          gameId  blueWins  ...  redCSPerMin  redGoldPerMin
0     4295358071       0.0  ...         21.5         1607.4
1     4296004784       NaN  ...          NaN            NaN
2     4296036692       NaN  ...          NaN            NaN
3     4296354535       NaN  ...          NaN            NaN
4     4297209068       NaN  ...          NaN            NaN
...          ...       ...  ...          ...            ...
9874  4527898486       NaN  ...          NaN            NaN
9875  4527908858       NaN  ...          NaN            NaN
9876  4527909697       NaN  ...          NaN            NaN
9877  4527960459       NaN  ...          NaN            NaN
9878  4527990640       NaN  ...          NaN            NaN

[9879 rows x 40 columns]

In [ ]:
LOL.head(16)

        gameId  blueWins  ...  redCSPerMin  redGoldPerMin
0   4519157822         0  ...         19.7         1656.7
1   4523371949         0  ...         24.0         1762.0
2   4521474530         0  ...         20.3         1728.5
3   4524384067         0  ...         23.5         1647.8
4   4436033771         0  ...         22.5         1740.4
5   4475365709         1  ...         22.1         1520.1
6   4493010632         1  ...         16.4         1446.3
7   4496759358         0  ...         15.7         1792.0
8   4443048030         0  ...         24.0         1838.0
9   4509433346         1  ...         24.7         1660.5
10  4452162573         0  ...         21.6         1514.3
11  4453038156         0  ...         18.8         1820.0
12  4515594785         1  ...         24.0         1459.1
13  4524924257         0  ...         22.9         1839.3
14  4516505202         1  ...         24.2         1619.2
15  4482120064         0  ...         23.7         1701.1

[16 rows x 40 columns]

In [ ]:
LOL.tail(15)

          gameId  blueWins  ...  redCSPerMin  redGoldPerMin
9864  4527898486         1  ...         20.2         1524.0
9865  4527885240         1  ...         21.5         1672.2
9866  4527780032         1  ...         19.7         1393.3
9867  4527908858         0  ...         25.1         1563.4
9868  4527960459         1  ...         20.3         1393.6
9869  4527875317         0  ...         18.7         1831.9
9870  4527811425         1  ...         20.2         1494.9
9871  4527715781         0  ...         24.8         1585.8
9872  4527650398         1  ...         21.6         1639.9
9873  4527878058         1  ...         19.7         1593.4
9874  4527873286         1  ...         22.9         1524.6
9875  4527797466         1  ...         20.6         1545.6
9876  4527713716         0  ...         26.1         1831.9
9877  4527628313         0  ...         24.7         1529.8
9878  4523772935         1  ...         20.1         1533.9

[15 rows x 40 columns]

# New Section